@import "../../../styles/variables.scss";

:host {

		background-color: $dark-color;

    .head-container {
        position: relative;
        height: 600px;
				box-shadow: 0 -250px 500px $dark-color inset;

        .title-container {
            position: absolute;
            bottom: 10%;
            left: 50%;
            width: 100%;
            font-size: 70px;
            text-align: center;
            transform: translateX(-50%) translateY(100%);
            color: $light-secondary-color;
        }

        .title-logo {
          position: absolute;
          bottom: 150px;
          left: 50%;
          height: 200px;
          width: 200px;
          transform: translateX(-50%);
      }
		}
}
