@import "../../../styles/variables.scss";

:host {

		background-color: $dark-color;

    .head-container {
        position: relative;
        height: 600px;
				box-shadow: 0 -250px 350px $dark-color inset;

        .title-container {
            position: absolute;
            bottom: 20px;
            left: 50%;
            width: 100%;
						text-align: center;
						font-size: 100px;
						line-height: 100px;
						letter-spacing: 5px;
            transform: translateX(-50%);
            color: $light-secondary-color;
        }

        .title-logo {
          position: absolute;
          bottom: 150px;
          left: 50%;
          height: 150px;
          width: 150px;
          transform: translateX(-50%);
      }
		}
}
