<div padding-vert class="head-container"
	[ngStyle]="{	'background-image': 'url(' + fact.backgroundSrc + ')' }"
	[style.backgroundSize]="'cover'"
	[style.backgroundPosition]="'center'">
	<img class="title-logo" src="{{ fact.logoSrc }}" alt="">
	<h1 class="title-container">{{ fact.title | uppercase }}</h1>
</div>
<div separator></div>
<p class="fact-text" innerHtml="{{ fact.texte01 }}"></p>
<img class="fact-img" src="{{ fact.imageSrc }}" alt="">
<p class="fact-text" innerHtml="{{ fact.texte02 }}"></p>
