<div style="text-align:center">
  <div padding-vert class="head-container">
    <img class="title-background" src="https://via.placeholder.com/1000x400" alt="">
    <img class="title-logo" src="https://via.placeholder.com/200x200" alt="">
    <h1 class="title-container">{{ 'UNIVERSE.FARADEL.TITLE' | translate | uppercase }}</h1>
  </div>
  <div padding-vert container class="list-facts-container">
      <div *ngFor="let fact of listFacts" class="fact-container" routerLink="universe">
        <img class="fact-image" src="https://via.placeholder.com/500x300" alt="">
        <div class="fact-text">
          <h2 class="fact-title">{{ fact.title | uppercase }}</h2>
          <p>{{ fact.description }}</p>
        </div>
      </div>
  </div>
</div>
