@import "../../../../styles/variables.scss";

:host {

    .head-container {
        position: relative;
        height: 400px;
        border-bottom: 10px double $secondary-color;
        box-shadow: 0 -150px 300px black inset;

        .title-background {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            position: absolute;
            bottom: 10%;
            left: 50%;
            width: 100%;
            font-size: 70px;
            text-align: center;
            transform: translateX(-50%) translateY(100%);
        }

        .title-logo {
          position: absolute;
          bottom: 150px;
          left: 50%;
          height: 200px;
          width: 200px;
          transform: translateX(-50%);
          border: 1px solid black;
      }
    }

    .list-facts-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        max-width: 1260px;

        .fact-container {
            width: 250px;
            height: 300px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $dark-primary-color;
            background-color: $light-color;

            margin: 10px;
            overflow: hidden;
            cursor: pointer;
            transition: .5s;

            &:hover {
                box-shadow: 0px 0px 0px 3px $secondary-color;
            }

            .fact-image {
                height: 100px;
                width: 250px;
            }
        }
    }
}
