<div class="footer-navigation">
  <nav>
    <a routerLinkActive="active" routerLink="legacy" [innerHtml]="'FOOTER.LEGACY' | translate | uppercase"></a>
    <a routerLinkActive="active" routerLink="about" [innerHtml]="'FOOTER.ABOUT' | translate | uppercase"></a>
  </nav>
  <div class="footer-section section-right">
    <ul>
      <li>
        <a href="https://www.facebook.com/spefire" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/spefire" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/spefire_insta" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
