<div class="footer-infos">
    <ul>
        <li>
            <a href="https://www.facebook.com/spefire" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/spefire" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/spefire_insta" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>

<div class="footer-navigation">
    <nav>
        <a routerLinkActive="active" routerLink="legacy" [innerHtml]="'HEADER.NAV.LEGACY' | translate | uppercase"></a>
    </nav>
    <div class="header-section section-right">
        <a class="header-title" routerLinkActive="active" routerLink="about" [innerHtml]="'HEADER.NAV.ABOUT' | translate | uppercase"></a>
    </div>
</div>