@import "../../../styles/variables.scss";

:host {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;

	.cs-popup {
		position: absolute;
		top: 50px;
		z-index: 1;
		padding: 25px;
		border-radius: 5px;
		border: 2px solid $secondary-color;
		background: $dark-color;
	}

	.cs-name {
		width: 250px;
		padding-right: 20px;
		text-align: right;
	}

	.cs-value {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 5px;
		text-align: center;
		font-weight: bold;
	}

	.cs-help {
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-left: 20px;
		text-align: center;
		cursor: pointer;
		border-radius: 50%;
		border: 2px solid $light-color;
	}

}
