<tr>
	<td class="cs-name">{{ name }}</td>
	<td>
		<button class="cs-button" [ngClass]="{'disabled': !canDown }" (click)="downValue()">&#8249;</button>
		<span class="cs-value">{{ value }}</span>
		<button class="cs-button" [ngClass]="{'disabled': !canUp }" (click)="upValue()">&#8250;</button>
	</td>
	<td *ngIf="hasSpecialistic || hasCristalSpecialistic" class="cs-spe">
		<span>Spécialité (option) :</span>
		<div *ngIf="hasSpecialistic" class="dropdown">
			<select class="dropdown-select" (change)="speChange($event.target.value)">
				<option value=""></option>
				<option *ngFor="let specialistic of listSpecialistics" value="{{ specialistic }}">{{
						specialistic
				}}</option>
			</select>
		</div>
		<input *ngIf="hasCristalSpecialistic" type="text" (change)="speChange($event.target.value)"/>
	</td>
	<td>
		<span class="help" (click)="toogleHelp()" (mouseover)="displayHelpHover=true" (mouseout)="displayHelpHover=false">?</span>
		<span *ngIf="displayHelpClick || displayHelpHover" class="popup" innerHtml="{{ help }}"></span>
	</td>
</tr>
