@import "../../../styles/variables.scss";

:host {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;

	.cs-button {
		height: 30px;
		width: 30px;
		font-size: 20px;
		line-height: 20px;
		border-radius: 50%;
		padding: 0;
		border: 1px solid $light-secondary-color;
		background: $dark-color;

		&.disabled {
			background: none;
			border: none;
			cursor: default;
			color: $light-color;
		}
	}

	.cs-name {
		margin-right: 20px;
		text-align: right;
	}

	.cs-value {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 5px;
		text-align: center;
		font-weight: bold;
	}

	.cs-spe {
		margin-left: 20px;
	}

}
