<tr class="cs-line">
	<td class="cs-name">{{ element.name }}</td>
	<td *ngIf="!fixed">
		<button class="cs-button" [class.disabled]="value === valueMin" (click)="downValue()">&#8249;</button>
		<span class="cs-value">{{ value }}</span>
		<button class="cs-button" [class.disabled]="value === valueMax" (click)="upValue()">&#8250;</button>
	</td>
	<td *ngIf="fixed">
		<button class="cs-button disabled"></button>
		<span class="cs-value">{{ value }}</span>
		<button class="cs-button disabled"></button>
	</td>
	<td *ngIf="element.specs" class="cs-spe">
		<div class="dropdown">
			<select class="dropdown-select" [class.cs-option-default]="!spe" value="{{ spe }}"
				(change)="speChange($event.target.value)">
				<option class="cs-option-default" value="">
					{{ "CREATION.INDICS.SPE" | translate }}
				</option>
				<option class="cs-option" *ngFor="let specialistic of element.specs" value="{{ specialistic }}">
					{{ specialistic }}
				</option>
			</select>
		</div>
	</td>
	<td>
		<button (click)="openPopup()">?</button>
	</td>
</tr>
<tr class="cs-mobile-line">
	<td class="cs-name">{{ element.name }}</td>
	<td *ngIf="!fixed">
		<button class="cs-button" [class.disabled]="value === valueMin" (click)="downValue()">&#8249;</button>
		<span class="cs-value">{{ value }}</span>
		<button class="cs-button" [class.disabled]="value === valueMax" (click)="upValue()">&#8250;</button>
	</td>
	<td *ngIf="fixed">
		<button class="cs-button disabled"></button>
		<span class="cs-value">{{ value }}</span>
		<button class="cs-button disabled"></button>
	</td>
</tr>
<tr class="cs-mobile-line">
	<td *ngIf="element.specs" class="cs-spe">
		<div class="dropdown">
			<select class="dropdown-select" [class.cs-option-default]="!spe" value="{{ spe }}"
				(change)="speChange($event.target.value)">
				<option class="cs-option-default" value="">
					{{ "CREATION.INDICS.SPE" | translate }}
				</option>
				<option class="cs-option" *ngFor="let specialistic of element.specs" value="{{ specialistic }}">
					{{ specialistic }}
				</option>
			</select>
		</div>
	</td>
</tr>