@import "../../../styles/variables.scss";

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    height: 50px;
    background-color: $dark-color;

    .header-nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .header-subnav {
      font-size: 12px;
    }

    a {
      display: inline-block;
      position: relative;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      transition: .5s;

      &:hover {
        color: $light-secondary-color;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background: $dark-secondary-color;

        transform: scaleX(0);

        transition: transform .12s cubic-bezier(0.4, 0.0, 0.2, 1);
      }

      &.active {
        color: $light-secondary-color;

        &:after {
          transform: scaleX(1);
        }
      }
    }

    .header-logo {
      cursor: pointer;
    }

    .header-title {
      color: $light-secondary-color;
    }

    .header-subtitle {
      margin-right: 10px;
      font-size: 16px;
      color: $light-secondary-color;
      border-right: 1px solid $dark-secondary-color;
    }

    .header-section {
      display: flex;
      align-items: center;

      &.section-right {
        display: inline-block;
        text-align: right;
      }
    }
}
