@import "../../../../styles/variables.scss";

:host {

    .head-container {
        position: relative;
        height: 400px;
        box-shadow: 0 -150px 200px $dark-color inset;

        .title-background {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            position: absolute;
            bottom: 10%;
            left: 50%;
            width: 100%;
            font-size: 70px;
            text-align: center;
            transform: translateX(-50%) translateY(100%);
            color: $light-secondary-color;
        }

        .title-logo {
          position: absolute;
          bottom: 150px;
          left: 50%;
          height: 200px;
          width: 200px;
          transform: translateX(-50%);
          border: 1px solid $dark-color;
      }
    }

    .list-facts-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        max-width: 1260px;

        .fact-container {
            position: relative;
            height: 300px;
            width: 250px;
            border: 1px solid $light-secondary-color;
            color: $secondary-color;
            background-color: $dark-color;

            margin: 10px;
            overflow: hidden;
            cursor: pointer;
            transition: .5s;

            &:hover {
              margin-top: 0;
              margin-bottom: 0;
              height: 320px;
              box-shadow: 0px 0px 0px 2px $light-secondary-color;
            }

            &:hover .fact-text {
              top: 150px;
            }

            .fact-image {
              position: absolute;
              width: 250px;
              top: 0;
              left: 0;
            }

            .fact-text {
              position: absolute;
              height: 200px;
              top: 100px;
              background-color: $dark-color;
              transition: .5s;

              .fact-title {
                color: $light-secondary-color;
              }
            }
        }
    }
}
