<div style="text-align:center">
  <div padding-vert class="head-container">
    <img class="title-background" src="{{ backgroundSrc }}" alt="">
    <img class="title-logo" src="{{ logoSrc }}" alt="">
    <h1 class="title-container">{{ title | uppercase }}</h1>
  </div>
  <div separator></div>
  <div padding-vert container class="list-facts-container">
    <div *ngFor="let fact of listFacts" class="fact-container" routerLink="/universe/{{route}}/{{fact.id}}">
      <img class="fact-image" src="https://via.placeholder.com/500x300" alt="">
      <div class="fact-text">
        <h2 class="fact-title">{{ fact.title | uppercase }}</h2>
        <p>{{ fact.description }}</p>
      </div>
    </div>
  </div>
</div>
