html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 14px;
	font-family: "Noto Serif", serif;
}

body {
	z-index: 1;
	color: $light-color;
	background: linear-gradient(45deg, $dark-color, $dark-color, $primary-color);
}

h1 {
	font-size: 65px;
	line-height: 65px;
	font-weight: normal;

	text-transform: uppercase;
	color: $light-secondary-color;
	margin: 0;

	@media screen and (max-width: 700px) {
		font-size: 35px;
		line-height: 35px;
	}
}

h2 {
	font-size: 26px;
	font-weight: normal;

	text-transform: uppercase;
	color: $light-secondary-color;
	margin: 0;
}

h3 {
	font-size: 20px;
	font-family: "Montserrat", sans-serif;

	text-transform: uppercase;
	color: $light-color;
	margin: 0;
}

h4 {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;

	color: $light-color;
	margin: 0;
}

a {
	font-family: "Montserrat", sans-serif;

	text-decoration: none;
	color: $light-color;

	&.disabled {
		cursor: default;

		&:hover {
			color: $light-color;
		}
	}

	&:hover {
		color: $light-secondary-color;
	}

	&.active {
		color: $light-secondary-color;
	}
}

button {
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;

	background: none;
	border: 1px solid $secondary-color;
	color: $light-secondary-color;

	&:hover {
		background-color: rgba($light-color, 0.1);
	}
}

img {
	outline: none;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: $dark-color;
}

::-webkit-scrollbar-thumb {
	background: $light-color;
}

::-webkit-scrollbar-thumb:hover {
	background: $light-secondary-color;
}
