html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  z-index: 1;
  color: $light-color;
  background-color: $dark-primary-color;
}

h1 {
	font-size: 50px;
  color: $light-secondary-color;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 26px;
  color: $light-secondary-color;
	text-transform: uppercase;
	margin: 0;
}

h3 {
	font-size: 20px;
  color: $light-color;
	text-transform: uppercase;
	margin: 0;
}

h4 {
	font-size: 14px;
  color: $light-color;
	margin: 0;
}

a {
  color: $light-color;
  text-decoration: none;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;

  background: none;
  border: 1px solid $dark-secondary-color;
  color: $light-secondary-color;
}

.imgWait {
  height: 400px;
  width: 200px;
}
