$default-background-color: #000000;
$dark-background-color: #222222;
$light-background-color: #eeeeee;

$default-text-color: #eeeeee;
$primary-text-color: #90a0a0;

$default-border_color: #eeeeee;

$primary-color: #00AAAA;
$dark-color: #444444;
