$light-color: #eeeeee;
$grey-color: #C4C4C3;
$dark-color: #141412;

$dark-primary-color: #134457;
$primary-color: #247899;

$secondary-color: #dad090;
$light-secondary-color: #fcf8b0;

$warning-color: #f05f5f;
