<div class="head-container">
	<img src="{{ imgLeft }}" alt="">
	<div class="head-text">
		<h1>{{ title }}</h1>
		<p>{{ section01 }}<br><br>{{ section02 }}<br><br>{{ section03 }}</p>
	</div>
	<img src="{{ imgRight }}" alt="">
</div>
<div class="head-mobile-container">
	<div class="head-title">
		<img src="{{ imgLeft }}" alt="">
		<h1>{{ title }}</h1>
		<img src="{{ imgRight }}" alt="">
	</div>
	<div class="head-text">
		<p>{{ section01 }}<br><br>{{ section02 }}<br><br>{{ section03 }}</p>
	</div>
</div>
