@import "../../../styles/variables.scss";

:host {
	.popup {
		position: fixed;
		top: 25%;
		left: 25%;
		right: 25%;
		z-index: 10;
		padding: 25px;
		border-radius: 5px;
		border: 2px solid $secondary-color;
		background: $dark-color;
	}

	.popup-close {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
