@import "../../../styles/variables.scss";

:host {
	.legacy-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 550px;

		.legacy-description {
			width: 50%;
			text-align: center;
			margin: auto;
		}
	}
}
