@import "../../../styles/variables.scss";

:host {
	.about-container {
		display: flex;
		height: 700px;
		background-image: linear-gradient(
				135deg,
				rgba($dark-color, 1),
				rgba($dark-color, 0.75),
				rgba($dark-color, 0.5),
				rgba($primary-color, 0.5),
				rgba($primary-color, 0.5)
			),
			url("/assets/images/home_00.png");

		@media screen and (max-width: 1000px) {
			flex-direction: column;
			height: auto;
			width: 100%;
			align-items: center;
		}

		.about-left {
			width: 50%;
			text-align: center;
			margin: auto 0;

			@media screen and (max-width: 1000px) {
				width: 80%;
			}

			img {
				height: 550px;

				@media screen and (max-width: 1000px) {
					height: 350px;
				}
			}
		}

		.about-right {
			width: 40%;
			text-align: left;
			margin: auto 0;

			@media screen and (max-width: 1000px) {
				width: 80%;
				text-align: center;
			}
		}
	}
}
