@import "../../../../styles/variables.scss";

:host {
	.population-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 550px;

		&::after {
			content: "";
			position: absolute;
			opacity: 1.0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;

			background-position: center;
			background-size: cover;
			background-image: linear-gradient(0deg, rgba($dark-color, 0.8), rgba($dark-color, 0.8), rgba($dark-primary-color, 0.8), rgba($dark-primary-color, 1.0)), url("/assets/images/home_01.png");
		}

		.population-imgs {
			display: flex;
			align-items: center;
			height: 275px;
		}

		.population-selectimg {
			height: 50px;
			width: 50px;
			margin: 0 10px;
			cursor: pointer;
		}

		.population-img {
			height: 150px;
			width: 150px;

			margin: 0;
			border-radius: 50%;
			border: 2px solid $dark-secondary-color;
			cursor: pointer;

			&.main {
				height: 200px;
				width: 200px;

				margin: 0 50px;
				border: 6px double $dark-secondary-color;
				cursor: default;
			}
		}

		.population-text {
			text-align: center;
			max-width: 75%;
			height: 275px;

			p {
				font-size: 14px;
				color: $secondary-color;
				margin: 0;
				padding: 4px 30px 4px 0;
				font-style: italic;
			}
		}
	}
}
