<div [ngClass]="{'active': selection == 0 }" class="head-container container01">
  <div class="title-container">
    <img class="logo-image" src="https://via.placeholder.com/500x200" alt="">
    <h4>{{ 'PAGE.HOME.TITLE' | translate | uppercase }}</h4>
    <h1>{{ 'HOME.UNIVERSE.TITLE' | translate | uppercase }}</h1>
    <p>{{ 'HOME.UNIVERSE.RESUME' | translate }}</p>
    <button routerLink="universe">{{ 'HOME.UNIVERSE.SEEMORE' | translate | uppercase }}</button>
  </div>
</div>
<div [ngClass]="{'active': selection == 1 }" class="head-container container02">
  <div class="title-container inversed-container">
    <h4>{{ 'PAGE.HOME.TITLE' | translate | uppercase }}</h4>
    <h1>{{ 'HOME.ROLEPLAY.TITLE' | translate | uppercase }}</h1>
    <p>{{ 'HOME.ROLEPLAY.RESUME' | translate }}</p>
    <button>{{ 'HOME.ROLEPLAY.SEEMORE' | translate | uppercase }}</button>
  </div>
</div>
<div [ngClass]="{'active': selection == 2 }" class="head-container container03">
  <div class="title-container">
    <h4>{{ 'PAGE.HOME.TITLE' | translate | uppercase }}</h4>
    <h1>{{ 'HOME.CHARACTERS.TITLE' | translate | uppercase }}</h1>
    <p>{{ 'HOME.CHARACTERS.RESUME' | translate }}</p>
    <button>{{ 'HOME.CHARACTERS.SEEMORE' | translate | uppercase }}</button>
  </div>
</div>
<ul class="selection-container">
	<div class="dotline"></div>
	<li [ngClass]="{'active': selection == 0 }" class="dot" (click)="setSelection(0)"></li>
	<div class="dotline"></div>
	<li [ngClass]="{'active': selection == 1 }" class="dot" (click)="setSelection(1)"></li>
	<div class="dotline"></div>
	<li [ngClass]="{'active': selection == 2 }" class="dot" (click)="setSelection(2)"></li>
	<div class="dotline"></div>
</ul>
