@import "../../../styles/variables.scss";

:host {

    text-align: center;

    .head-container {
        position: relative;
        height: 250px;

        &.big-head {
            height: 400px;
        }

        .title-background {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            position: absolute;
            top: 50%;
            left: 25%;
            width: 25%;
            text-align: left;
            transform: translateX(-50%) translateY(-50%);

            &.inversed-container {
                left: auto;
                right: 25%;
                text-align: right;
                transform: translateX(50%) translateY(-50%);
            }

            .logo-image {
                height: 100px;
                width: 250px;
                border: 1px solid $dark-color;
            }
        }
    }

    .list-facts-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;

        .fact-container {
            width: 250px;
            height: 300px;
            border: 1px solid rgba(0,0,0, 0.2);
            border-radius: 10px;
            box-shadow: 5px 5px rgba(0,0,0, 0.2);

            margin: 10px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0, 0.1);
            }

            .fact-image {
                height: 100px;
                width: 250px;
            }
        }
    }

    .glyphe-container {
        position: absolute;
        top: 50%;
        right: 25%;
        transform: translateX(50%) translateY(-50%);

        height: 300px;
        width: 300px;
        perspective: 600px;

        &.inversed-container {
            right: 0%;
            left: 25%;
            transform: translateX(-50%) translateY(-50%);
        }

        &.little-container {
            perspective: 500px;
            height: 250px;
            width: 250px;
        }
    }

    .glyphe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 5px $primary-color, inset 0px 0px 5px $light-primary-color;
    }

    .head-container:hover .glyphe01 {
        animation: anim01 4s infinite ease-in-out;

        @keyframes anim01 {
            0% { transform: rotateY(0deg); }
            100% { transform: rotateY(360deg); }
        }
    }

    .head-container:hover .glyphe02 {
        animation: anim02 4s infinite ease-in-out;

        @keyframes anim02 {
            0% { transform: rotateY(0deg) rotateX(0deg) }
            100% { transform: rotateY(360deg) rotateX(360deg) }
        }
    }

    .head-container:hover .glyphe03 {
        animation: anim03 4s infinite ease-in-out;

        @keyframes anim03 {
            0% { transform: rotateY(0deg) rotateX(360deg) }
            100% { transform: rotateY(360deg) rotateX(0deg) }
        }
    }

    .head-container:hover .glyphe04 {
        animation: anim04 4s infinite ease-in-out;

        @keyframes anim04 {
            0% { transform: rotateY(360deg); }
            100% { transform: rotateY(0deg); }
        }
    }

    .head-container:hover .glyphe05.map {
        animation: anim05map 4s infinite ease-in-out;

        @keyframes anim05map {
            0% { transform: rotateX(360deg); }
            100% { transform: rotateX(0deg); }
        }
    }

    .head-container:hover .glyphe05.dices {
        animation: anim05dices 4s infinite ease-in-out;

        @keyframes anim05dices {
            0% { transform: rotateY(360deg) }
            100% { transform: rotateY(0deg) }
        }
    }

    .head-container:hover .glyphe05.book {
        animation: anim05book 4s infinite ease-in-out;

        @keyframes anim05book {
            0% { transform: rotateY(360deg); }
            100% { transform: rotateY(0deg); }
        }
    }
}
