@import "../../../styles/variables.scss";

:host {
	.main-container {
		display: flex;
		height: 800px;
    background-position: center;
		background-size: cover;
		background-image: linear-gradient(0deg, rgba($dark-color, 0.8), rgba($dark-color, 0.8), rgba($dark-primary-color, 0.8), rgba($dark-primary-color, 1.0)), url("/assets/images/home_01.png");

		::-webkit-scrollbar {
			width: 10px;
		}

		::-webkit-scrollbar-track {
			background: none;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 5px;
		}

		.map-left {
			position : relative;
			height: 700px;
			width: 35%;
			padding: 20px;
			margin: auto 0% auto 5%;
			text-align: left;

			.fact-header {
				height: 200px;

				.fact-image {
					height: 100%;
					width: 100%;
					mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
				}
			}

			.fact-container {
				height: 60px;
				margin: 5px 0;
    		padding: 5px 0;
				border-top: 1px solid $secondary-color;
				border-bottom: 1px solid $secondary-color;

				.fact-text {
					text-align: center;
				}
			}

			.fact-description {
				max-height: 350px;
    		overflow-y: auto;
			}

			.fact-footer {
				height: 60px;
				margin: 5px 0;
    		padding: 5px 0;
				border-top: 1px solid $secondary-color;

				.fact-text {
					font-size: 14px;
					color: $secondary-color;
					text-align: center;
					font-style: italic;
				}
			}
		}

		.map-right {
			display: flex;
  		flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 700px;
			width: 65%;
			margin: auto 2.5%;

			.map-title {
				height: 60px;
				text-align: center;
			}

			.map-background {
				height: 620px;
			}

			.map-icons{
				position: relative;
			}

			.map-icon {
				position: absolute;
				height: 50px;
				width: 50px;
				margin-top: -25px;
				margin-left: -25px;
				cursor: pointer;
			}

			.map-icon-00 {
				top: 45%;
				left: 75%;
			}

			.map-icon-01 {
				top: 42%;
				left: 72%;
			}

			.map-icon-02 {
				top: 69%;
				left: 73%;
			}

			.map-icon-03 {
				top: 77%;
				left: 76%;
			}

			.map-icon-04 {
				top: 20%;
				left: 20%;
			}
		}
  }
}
