@import "../../../styles/variables.scss";

:host {

    .head-container {
        position: relative;
        height: 250px;

        .title-background {
            position: absolute;
            height: 100%;
            width: 100%;
            //max-width: 600px;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            position: absolute;
            top: 50%;
            left: 25%;
            width: 25%;
            text-align: left;
            transform: translateX(-50%) translateY(-50%);

            .logo-image {
                height: 100px;
                width: 250px;
                border: 1px solid black;
            }
        }
    }

    .list-facts-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        max-width: 1260px;
        border: 10px double $light-primary-color;

        .fact-container {
            width: 250px;
            height: 300px;
            border: 1px solid $dark-primary-color;
            border-radius: 10px;
            color: $dark-primary-color;
            background-color: $light-color;

            margin: 10px;
            overflow: hidden;
            cursor: pointer;
            transition: .5s;

            &:hover {
                box-shadow: 0px 0px 0px 3px $light-primary-color;
            }

            .fact-image {
                height: 100px;
                width: 250px;
            }
        }
    }
}
