@import "../../../styles/variables.scss";

:host {
	.head-container {
		display: flex;

		&::after {
			content: "";
			position: absolute;
			opacity: 1.0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;

			box-shadow: 0 -150px 200px $dark-color inset;
		}

		.map-left {
			width: 35%;
			text-align: left;
			padding-left: 5%;
			margin: auto 0;

			.zone-image {
				height: 100px;
				width: 100px;
				border: 1px solid $dark-color;
			}

			.zone-title {
				font-size: 32px;
				line-height: 32px;
			}

			.fact-container {
				position: relative;
				margin: 25px 0;

				.fact-description {
					font-size: 14px;
					color: $secondary-color;
					margin: 0;
					padding: 4px 30px 4px 0;
					font-style: italic;
				}

				.fact-link {
					position: absolute;
					bottom: 0;
					right: 0;

					font-size: 20px;
					font-weight: bold;
					border-radius: 50%;
					padding: 2px 8px;
				}
			}
		}

		.map-right {
			width: 65%;
			max-width: 800px;
			position: relative;
			padding-left: 5%;
			padding-right: 5%;
			margin: auto 0;

			.map-background {
				height: auto;
				width: 100%;
				margin: auto 0;
			}
		}
  }
}
