<div style="text-align:center">
  <div container padding-vert class="head-container">
    <div class="map-left">
        <img class="logo-image" src="https://via.placeholder.com/500x200" alt="">
        <h2>{{ listFacts[0].title | translate }}</h2>
        <p>{{ listFacts[0].description | translate }}</p>
        <button routerLink="/universe/{{listFacts[0].id}}">{{ 'UNIVERSE.SEEMORE' | translate | uppercase }}</button>
    </div>
    <div class="map-right">
      <img id="map-arlenor" class="map-background" src="assets/images/map.png" width="1800" height="1200" alt="" usemap="#map">
      <map name="map" id="map">
        <area shape='poly' [coords]='getCoords("faradel")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_faradel.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("jirakan")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_jirakan.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("ne")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_zones.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("se")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_zones.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("no")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_zones.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("so")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_zones.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
        <area shape='poly' [coords]='getCoords("celestia")'
        onmouseover="document.images['map-arlenor'].src='assets/images/map_celestia.png';"
        onmouseout="document.images['map-arlenor'].src='assets/images/map.png';"/>
      </map>
    </div>
  </div>
  <div container padding-vert class="list-facts-container">
    <div *ngFor="let fact of listFacts | slice:1" class="fact-container" routerLink="/universe/{{fact.id}}">
      <img class="fact-image" src="https://via.placeholder.com/500x200" alt="">
      <h2>{{ fact.title }}</h2>
      <h3>{{ fact.type }}</h3>
      <p>{{ fact.description }}</p>
    </div>
  </div>
</div>
