@import "../../../styles/variables.scss";

:host {

	.game-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background: black;

		@media screen and (max-width: 700px) {
			display: none;
		}

		#gameContainerNotStart {
			height: auto;
			width: 80%;
		}

		#gameContainer {
			height: auto;
			width: 80%;
			background: none !important;
		}
	}
}
