@import "../../../../styles/variables.scss";

:host {

	h2 {
		margin: 10px 0;
	}

	p {
		width: 90%;
		text-align: justify;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.creation-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 50%;
		border-top: 6px solid $secondary-color;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(
				-45deg,
				rgba($dark-color, 1),
				rgba($dark-color, 0.75),
				rgba($dark-color, 0.5),
				rgba($primary-color, 0.5),
				rgba($primary-color, 0.5)
			),
			url("/assets/images/home_02.png");

		&.big {
			width: 100%;
		}

		&.left {
			border-right: 2px solid $secondary-color;
		}

		&.right {
			border-left: 2px solid $secondary-color;
		}
	}

	.creation-race-img {
		height: 200px;
		width: 200px;
		margin: 0 10px;
		border-radius: 50%;
		border: 2px solid $light-secondary-color;
	}

	.creation-avatar {
		height: 250px;
		width: 250px;
		border: 1px solid $secondary-color;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;

		img {
			height: 250px;
			width: 250px;
		}
	}
}
