@import "../../../../styles/variables.scss";

:host {
  .creation-flex {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  .creation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 25px 0;
    border-top: 6px solid $secondary-color;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(-45deg, rgba($dark-color, 1), rgba($dark-color, 0.75), rgba($dark-color, 0.5), rgba($primary-color, 0.5), rgba($primary-color, 0.5)),
      url("/assets/images/home_02.png");

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    &.big {
      width: 100%;
    }

    &.left {
      border-right: 2px solid $secondary-color;

      @media screen and (max-width: 1200px) {
        border-right: none;
        border-top: 6px solid $secondary-color;
      }
    }

    &.right {
      border-left: 2px solid $secondary-color;

      @media screen and (max-width: 1200px) {
        border-left: none;
        border-top: 6px solid $secondary-color;
      }
    }

    &.import {
      background-image: linear-gradient(0deg, rgba($dark-color, 0.8), rgba($dark-color, 0.8)), url("/assets/images/home_02.png");

      p {
        text-align: center;
      }
    }

    &.final {
      background-image: linear-gradient(0deg, rgba($dark-color, 0.8), rgba($dark-color, 0.8)), url("/assets/images/home_02.png");
    }

    a,
    label {
      margin: 10px;
      padding: 5px 15px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      outline: none;
      background: none;
      border: 1px solid #dad090;
      color: #fcf8b0;
    }
  }

  .creation-race-img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid $light-secondary-color;
  }

  .creation-crystal-tables {
    display: flex;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .creation-crystal-table {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .creation-crystal-mobile-table {
    display: none;

    @media screen and (max-width: 700px) {
      display: block;
    }
  }

  .creation-points {
    margin-top: 0;
    text-align: center;
  }

  .creation-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .creation-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .creation-identity {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.left {
      width: 55%;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    &.right {
      width: 45%;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }
  }

  .creation-avatar {
    height: 200px;
    width: 200px;
    margin: 0 10px !important;
    padding: 0 !important;
    border: 1px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    img {
      height: 200px;
      width: 200px;
      border-radius: 5px;
    }
  }

  h2 {
    margin: 10px 0;

    @media screen and (max-width: 1200px) {
      text-align: center;
    }
  }

  p {
    width: 90%;
    text-align: justify;
  }
}
