<div class="creation-container">
	<h1>Fiche de personnage</h1>
	<p innerHtml="{{ 'CREATION.HEROS' | translate }}"></p>
	<h2>Peuple / Race</h2>
	<div class="creation-sections">
		<div class="creation-section-left">
			<img
				*ngIf="race == 1"
				class="creation-race-img"
				src="assets/images/population/p_humain.png"
				alt=""
			/>
			<img
				*ngIf="race == 2"
				class="creation-race-img"
				src="assets/images/population/p_elfe.png"
				alt=""
			/>
			<img
				*ngIf="race == 3"
				class="creation-race-img"
				src="assets/images/population/p_nain.png"
				alt=""
			/>
			<img
				*ngIf="race == 4"
				class="creation-race-img"
				src="assets/images/population/p_mutant.png"
				alt=""
			/>
			<img
				*ngIf="race == 5"
				class="creation-race-img"
				src="assets/images/population/p_pan.png"
				alt=""
			/>
			<img
				*ngIf="race == 6"
				class="creation-race-img"
				src="assets/images/population/p_arlenien.png"
				alt=""
			/>
		</div>
		<div class="creation-section-right">
			<div class="creation-race-list">
				<span>Race :</span>
				<select (change)="changeRace($event.target)">
					<option value="1">{{
						"UNIVERSE.POPULATION.PEOPLE1.NAME" | translate
					}}</option>
					<option value="2">{{
						"UNIVERSE.POPULATION.PEOPLE2.NAME" | translate
					}}</option>
					<option value="3">{{
						"UNIVERSE.POPULATION.PEOPLE3.NAME" | translate
					}}</option>
					<option value="4">{{
						"UNIVERSE.POPULATION.PEOPLE4.NAME" | translate
					}}</option>
					<option value="5">{{
						"UNIVERSE.POPULATION.PEOPLE5.NAME" | translate
					}}</option>
					<option value="6">{{
						"UNIVERSE.POPULATION.PEOPLE6.NAME" | translate
					}}</option>
				</select>
				<a
					class="creation-race-seemore"
					href="./universe/population"
					target="_blank"
					>En savoir plus</a
				>
			</div>
			<span class="creation-race-list">Avantages :</span><br />
			<span innerHtml="{{ avantages }}"></span><br />
			<span class="creation-race-list">Inconvénients :</span><br />
			<span innerHtml="{{ inconvenients }}"></span>
		</div>
	</div>
	<h2>Caractéristiques</h2>
	<p innerHtml="{{ 'CREATION.CARACTS01' | translate }}"></p>
	<p>Points restants : {{ leftPointsCaracteristics }}</p>
	<div class="creation-sections">
		<div class="creation-section-right">
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.VIGUEUR.NAME' | translate }}"
				help="{{ 'CREATION.VIGUEUR.HELP' | translate }}"
				type="vigueur"
				value="{{ caracteristics.vigueur }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.HABILETE.NAME' | translate }}"
				help="{{ 'CREATION.HABILETE.HELP' | translate }}"
				type="habilete"
				value="{{ caracteristics.habilete }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.INTELLECT.NAME' | translate }}"
				help="{{ 'CREATION.INTELLECT.HELP' | translate }}"
				type="intellect"
				value="{{ caracteristics.intellect }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.PRESENCE.NAME' | translate }}"
				help="{{ 'CREATION.PRESENCE.HELP' | translate }}"
				type="presence"
				value="{{ caracteristics.presence }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.POUVOIR.NAME' | translate }}"
				help="{{ 'CREATION.POUVOIR.HELP' | translate }}"
				type="pouvoir"
				value="{{ caracteristics.pouvoir }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
		</div>
		<div class="creation-section-left">
			<p innerHtml="{{ 'CREATION.CARACTS02' | translate }}"></p>
		</div>
	</div>
	<h2>Valeurs en découlant</h2>
	<div class="creation-sections">
		<span>Initiative :</span
		><span class="creation-value">{{ initiative }}</span>
		<span>Points de Vie :</span><span class="creation-value">{{ pv }}</span>
		<span>Points d'Energie Vitale :</span
		><span class="creation-value">{{ pe }}</span>
	</div>
	<h2>Compétences</h2>
	<p>Points restants : {{ leftPointsSkills }}</p>
	<div class="creation-sections">
		<div class="creation-section-left">
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ANIMAUX.SPECIALISTICS' | translate }}"
				min="{{ race === 3 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.ANIMAUX.NAME' | translate }}"
				help="{{ 'CREATION.ANIMAUX.HELP' | translate }}"
				type="animaux"
				value="{{ mainSkills.animaux.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ART.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ART.NAME' | translate }}"
				help="{{ 'CREATION.ART.HELP' | translate }}"
				type="art"
				value="{{ mainSkills.art.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ARTISANAT.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ARTISANAT.NAME' | translate }}"
				help="{{ 'CREATION.ARTISANAT.HELP' | translate }}"
				type="artisanat"
				value="{{ mainSkills.artisanat.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ATHLETISME.SPECIALISTICS' | translate }}"
				min="{{ race === 1 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.ATHLETISME.NAME' | translate }}"
				help="{{ 'CREATION.ATHLETISME.HELP' | translate }}"
				type="athletisme"
				value="{{ mainSkills.athletisme.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.COMBAT.SPECIALISTICS' | translate }}"
				min="{{ race === 3 || race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.COMBAT.NAME' | translate }}"
				help="{{ 'CREATION.COMBAT.HELP' | translate }}"
				type="combat"
				value="{{ mainSkills.combat.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ETIQUETTE.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ETIQUETTE.NAME' | translate }}"
				help="{{ 'CREATION.ETIQUETTE.HELP' | translate }}"
				type="etiquette"
				value="{{ mainSkills.etiquette.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.FURTIVITE.SPECIALISTICS' | translate }}"
				min="{{ race === 4 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.FURTIVITE.NAME' | translate }}"
				help="{{ 'CREATION.FURTIVITE.HELP' | translate }}"
				type="furtivite"
				value="{{ mainSkills.furtivite.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INFORMATION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.INFORMATION.NAME' | translate }}"
				help="{{ 'CREATION.INFORMATION.HELP' | translate }}"
				type="information"
				value="{{ mainSkills.information.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INTUITION.SPECIALISTICS' | translate }}"
				min="{{ race === 5 || race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.INTUITION.NAME' | translate }}"
				help="{{ 'CREATION.INTUITION.HELP' | translate }}"
				type="intuition"
				value="{{ mainSkills.intuition.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INVESTIGATION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.INVESTIGATION.NAME' | translate }}"
				help="{{ 'CREATION.INVESTIGATION.HELP' | translate }}"
				type="investigation"
				value="{{ mainSkills.investigation.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.LARCIN.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.LARCIN.NAME' | translate }}"
				help="{{ 'CREATION.LARCIN.HELP' | translate }}"
				type="larcin"
				value="{{ mainSkills.larcin.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.MANIPULATION.SPECIALISTICS' | translate }}"
				min="{{ race === 4 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.MANIPULATION.NAME' | translate }}"
				help="{{ 'CREATION.MANIPULATION.HELP' | translate }}"
				type="manipulation"
				value="{{ mainSkills.manipulation.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
		</div>
		<div class="creation-section-right">
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.MEDECINE.SPECIALISTICS' | translate }}"
				min="{{ race === 5 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.MEDECINE.NAME' | translate }}"
				help="{{ 'CREATION.MEDECINE.HELP' | translate }}"
				type="medecine"
				value="{{ mainSkills.medecine.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.PERSUASION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.PERSUASION.NAME' | translate }}"
				help="{{ 'CREATION.PERSUASION.HELP' | translate }}"
				type="persuasion"
				value="{{ mainSkills.persuasion.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.PILOTAGE.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.PILOTAGE.NAME' | translate }}"
				help="{{ 'CREATION.PILOTAGE.HELP' | translate }}"
				type="pilotage"
				value="{{ mainSkills.pilotage.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.SAVOIR.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.SAVOIR.NAME' | translate }}"
				help="{{ 'CREATION.SAVOIR.HELP' | translate }}"
				type="savoir"
				value="{{ mainSkills.savoir.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.SURVIE.SPECIALISTICS' | translate }}"
				min="{{ race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.SURVIE.NAME' | translate }}"
				help="{{ 'CREATION.SURVIE.HELP' | translate }}"
				type="survie"
				value="{{ mainSkills.survie.value }}"
				(onValueChange)="changeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.ELEMENTAIRES.NAME' | translate }}"
				help="{{ 'CREATION.ELEMENTAIRES.HELP' | translate }}"
				type="elementaires"
				value="{{ crystalSkills.elementaires.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.INVOCATIONS.NAME' | translate }}"
				help="{{ 'CREATION.INVOCATIONS.HELP' | translate }}"
				type="invocations"
				value="{{ crystalSkills.invocations.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.MENTAUX.NAME' | translate }}"
				help="{{ 'CREATION.MENTAUX.HELP' | translate }}"
				type="mentaux"
				value="{{ crystalSkills.mentaux.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.TRANSFORMATIONS.NAME' | translate }}"
				help="{{ 'CREATION.TRANSFORMATIONS.HELP' | translate }}"
				type="transformations"
				value="{{ crystalSkills.transformations.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.SPATIAUXTEMPORELS.NAME' | translate }}"
				help="{{ 'CREATION.SPATIAUXTEMPORELS.HELP' | translate }}"
				type="spatiauxtemporels"
				value="{{ crystalSkills.spatiauxtemporels.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.SPECIAUX.NAME' | translate }}"
				help="{{ 'CREATION.SPECIAUX.HELP' | translate }}"
				type="speciaux"
				value="{{ crystalSkills.speciaux.value }}"
				(onValueChange)="changeCrystalSkills($event)"
			></creation-slider>
		</div>
	</div>
</div>
