<div class="creation-container">
	<h1>{{ "CREATION.MENU.TITLE" | translate }}</h1>
	<p innerHtml="{{ 'CREATION.HEROS' | translate }}"></p>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE01" | translate }}</h2>
	<img
		*ngIf="race == 1"
		class="creation-race-img"
		src="assets/images/population/p_humain.png"
		alt=""
	/>
	<img
		*ngIf="race == 2"
		class="creation-race-img"
		src="assets/images/population/p_elfe.png"
		alt=""
	/>
	<img
		*ngIf="race == 3"
		class="creation-race-img"
		src="assets/images/population/p_nain.png"
		alt=""
	/>
	<img
		*ngIf="race == 4"
		class="creation-race-img"
		src="assets/images/population/p_mutant.png"
		alt=""
	/>
	<img
		*ngIf="race == 5"
		class="creation-race-img"
		src="assets/images/population/p_pan.png"
		alt=""
	/>
	<img
		*ngIf="race == 6"
		class="creation-race-img"
		src="assets/images/population/p_arlenien.png"
		alt=""
	/>
	<div class="dropdown">
		<select class="dropdown-select" (change)="changeRace($event.target)">
			<option value="1">{{
				"UNIVERSE.POPULATION.PEOPLE1.NAME" | translate
			}}</option>
			<option value="2">{{
				"UNIVERSE.POPULATION.PEOPLE2.NAME" | translate
			}}</option>
			<option value="3">{{
				"UNIVERSE.POPULATION.PEOPLE3.NAME" | translate
			}}</option>
			<option value="4">{{
				"UNIVERSE.POPULATION.PEOPLE4.NAME" | translate
			}}</option>
			<option value="5">{{
				"UNIVERSE.POPULATION.PEOPLE5.NAME" | translate
			}}</option>
			<option value="6">{{
				"UNIVERSE.POPULATION.PEOPLE6.NAME" | translate
			}}</option>
		</select>
	</div>
	<p innerHtml="{{ 'UNIVERSE.POPULATION.PEOPLE6.TEXT01' | translate }}"></p>
	<p innerHtml="{{ 'UNIVERSE.POPULATION.PEOPLE6.TEXT02' | translate }}"></p>
	<table class="full-table">
		<thead>
			<tr>
				<th>{{ "CREATION.INDICS.AVANTAGES" | translate }}</th>
				<th>{{ "CREATION.INDICS.INCONVENIENTS" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td innerHtml="{{ avantages }}"></td>
				<td innerHtml="{{ inconvenients }}"></td>
			</tr>
		</tbody>
	</table>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE02" | translate }}</h2>
	<p innerHtml="{{ 'CREATION.CARACTS01' | translate }}"></p>
	<p>
		{{ "CREATION.INDICS.LEFTPOINTS" | translate }} :
		<b>{{ leftPointsCaracteristics }}</b>
	</p>
	<table>
		<tbody>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.VIGUEUR.NAME' | translate }}"
				help="{{ 'CREATION.VIGUEUR.HELP' | translate }}"
				type="vigueur"
				value="{{ caracteristics.vigueur }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.HABILETE.NAME' | translate }}"
				help="{{ 'CREATION.HABILETE.HELP' | translate }}"
				type="habilete"
				value="{{ caracteristics.habilete }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.INTELLECT.NAME' | translate }}"
				help="{{ 'CREATION.INTELLECT.HELP' | translate }}"
				type="intellect"
				value="{{ caracteristics.intellect }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.PRESENCE.NAME' | translate }}"
				help="{{ 'CREATION.PRESENCE.HELP' | translate }}"
				type="presence"
				value="{{ caracteristics.presence }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
			<creation-slider
				min="1"
				max="5"
				name="{{ 'CREATION.POUVOIR.NAME' | translate }}"
				help="{{ 'CREATION.POUVOIR.HELP' | translate }}"
				type="pouvoir"
				value="{{ caracteristics.pouvoir }}"
				(onValueChange)="changeCaracteristics($event)"
			></creation-slider>
		</tbody>
	</table>
	<p innerHtml="{{ 'CREATION.CARACTS02' | translate }}"></p>
	<table class="full-table">
		<thead>
			<tr>
				<th>{{ "CREATION.INDICS.INITIATIVE" | translate }}</th>
				<th>{{ "CREATION.INDICS.PV" | translate }}</th>
				<th>{{ "CREATION.INDICS.PE" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ initiative }}</td>
				<td>{{ pv }}</td>
				<td>{{ pe }}</td>
			</tr>
		</tbody>
	</table>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE03" | translate }}</h2>
	<p innerHtml="{{ 'CREATION.SKILLS.TEXT01' | translate }}"></p>
	<p>
		{{ "CREATION.INDICS.LEFTPOINTS" | translate }} :
		<b>{{ leftPointsSkills }}</b>
	</p>
	<table>
		<tbody>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ANIMAUX.SPECIALISTICS' | translate }}"
				min="{{ race === 3 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.ANIMAUX.NAME' | translate }}"
				help="{{ 'CREATION.ANIMAUX.HELP' | translate }}"
				type="animaux"
				value="{{ mainSkills.animaux.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ART.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ART.NAME' | translate }}"
				help="{{ 'CREATION.ART.HELP' | translate }}"
				type="art"
				value="{{ mainSkills.art.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ARTISANAT.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ARTISANAT.NAME' | translate }}"
				help="{{ 'CREATION.ARTISANAT.HELP' | translate }}"
				type="artisanat"
				value="{{ mainSkills.artisanat.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ATHLETISME.SPECIALISTICS' | translate }}"
				min="{{ race === 1 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.ATHLETISME.NAME' | translate }}"
				help="{{ 'CREATION.ATHLETISME.HELP' | translate }}"
				type="athletisme"
				value="{{ mainSkills.athletisme.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.COMBAT.SPECIALISTICS' | translate }}"
				min="{{ race === 3 || race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.COMBAT.NAME' | translate }}"
				help="{{ 'CREATION.COMBAT.HELP' | translate }}"
				type="combat"
				value="{{ mainSkills.combat.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.ETIQUETTE.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.ETIQUETTE.NAME' | translate }}"
				help="{{ 'CREATION.ETIQUETTE.HELP' | translate }}"
				type="etiquette"
				value="{{ mainSkills.etiquette.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.FURTIVITE.SPECIALISTICS' | translate }}"
				min="{{ race === 4 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.FURTIVITE.NAME' | translate }}"
				help="{{ 'CREATION.FURTIVITE.HELP' | translate }}"
				type="furtivite"
				value="{{ mainSkills.furtivite.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INFORMATION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.INFORMATION.NAME' | translate }}"
				help="{{ 'CREATION.INFORMATION.HELP' | translate }}"
				type="information"
				value="{{ mainSkills.information.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INTUITION.SPECIALISTICS' | translate }}"
				min="{{ race === 5 || race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.INTUITION.NAME' | translate }}"
				help="{{ 'CREATION.INTUITION.HELP' | translate }}"
				type="intuition"
				value="{{ mainSkills.intuition.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.INVESTIGATION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.INVESTIGATION.NAME' | translate }}"
				help="{{ 'CREATION.INVESTIGATION.HELP' | translate }}"
				type="investigation"
				value="{{ mainSkills.investigation.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.LARCIN.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.LARCIN.NAME' | translate }}"
				help="{{ 'CREATION.LARCIN.HELP' | translate }}"
				type="larcin"
				value="{{ mainSkills.larcin.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.MANIPULATION.SPECIALISTICS' | translate }}"
				min="{{ race === 4 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.MANIPULATION.NAME' | translate }}"
				help="{{ 'CREATION.MANIPULATION.HELP' | translate }}"
				type="manipulation"
				value="{{ mainSkills.manipulation.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.MEDECINE.SPECIALISTICS' | translate }}"
				min="{{ race === 5 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.MEDECINE.NAME' | translate }}"
				help="{{ 'CREATION.MEDECINE.HELP' | translate }}"
				type="medecine"
				value="{{ mainSkills.medecine.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.PERSUASION.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.PERSUASION.NAME' | translate }}"
				help="{{ 'CREATION.PERSUASION.HELP' | translate }}"
				type="persuasion"
				value="{{ mainSkills.persuasion.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.PILOTAGE.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.PILOTAGE.NAME' | translate }}"
				help="{{ 'CREATION.PILOTAGE.HELP' | translate }}"
				type="pilotage"
				value="{{ mainSkills.pilotage.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.SAVOIR.SPECIALISTICS' | translate }}"
				min="0"
				max="10"
				name="{{ 'CREATION.SAVOIR.NAME' | translate }}"
				help="{{ 'CREATION.SAVOIR.HELP' | translate }}"
				type="savoir"
				value="{{ mainSkills.savoir.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
			<creation-slider
				hasSpecialistic="true"
				specialistics="{{ 'CREATION.SURVIE.SPECIALISTICS' | translate }}"
				min="{{ race === 6 ? 1 : 0 }}"
				max="10"
				name="{{ 'CREATION.SURVIE.NAME' | translate }}"
				help="{{ 'CREATION.SURVIE.HELP' | translate }}"
				type="survie"
				value="{{ mainSkills.survie.value }}"
				(onValueChange)="changeMainSkills($event)"
				(onSpeChange)="changeSpeMainSkills($event)"
			></creation-slider>
		</tbody>
	</table>
	<p innerHtml="{{ 'CREATION.SKILLS.TEXT02' | translate }}"></p>
	<table>
		<tbody>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.ELEMENTAIRES.NAME' | translate }}"
				help="{{ 'CREATION.ELEMENTAIRES.HELP' | translate }}"
				type="elementaires"
				value="{{ crystalSkills.elementaires.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.INVOCATIONS.NAME' | translate }}"
				help="{{ 'CREATION.INVOCATIONS.HELP' | translate }}"
				type="invocations"
				value="{{ crystalSkills.invocations.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.MENTAUX.NAME' | translate }}"
				help="{{ 'CREATION.MENTAUX.HELP' | translate }}"
				type="mentaux"
				value="{{ crystalSkills.mentaux.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.TRANSFORMATIONS.NAME' | translate }}"
				help="{{ 'CREATION.TRANSFORMATIONS.HELP' | translate }}"
				type="transformations"
				value="{{ crystalSkills.transformations.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.SPATIAUXTEMPORELS.NAME' | translate }}"
				help="{{ 'CREATION.SPATIAUXTEMPORELS.HELP' | translate }}"
				type="spatiauxtemporels"
				value="{{ crystalSkills.spatiauxtemporels.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
			<creation-slider
				hasCristalSpecialistic="true"
				min="0"
				max="10"
				name="{{ 'CREATION.SPECIAUX.NAME' | translate }}"
				help="{{ 'CREATION.SPECIAUX.HELP' | translate }}"
				type="speciaux"
				value="{{ crystalSkills.speciaux.value }}"
				(onValueChange)="changeCrystalSkills($event)"
				(onSpeChange)="changeSpeCrystalSkills($event)"
			></creation-slider>
		</tbody>
	</table>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE04" | translate }}</h2>
	<p innerHtml="{{ 'CREATION.CRYSTALS.TEXT01' | translate }}"></p>
	<table class="full-table">
		<thead>
			<tr>
				<th>{{ "CREATION.INDICS.RANK" | translate }}</th>
				<th>{{ "CREATION.INDICS.RARITY" | translate }}</th>
				<th>{{ "CREATION.INDICS.POWER" | translate }}</th>
				<th>{{ "CREATION.INDICS.EV" | translate }}</th>
				<th>{{ "CREATION.INDICS.DEMIPV" | translate }}</th>
				<th>{{ "CREATION.INDICS.DEMIEV" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let c of listCrystals">
				<td>{{ c.rank }}</td>
				<td>{{ c.rarity }}</td>
				<td>{{ c.power }}</td>
				<td>{{ c.EV }}</td>
				<td>{{ c.demiPV }}</td>
				<td>{{ c.demiEV }}</td>
			</tr>
		</tbody>
	</table>
	<p innerHtml="{{ 'CREATION.CRYSTALS.TEXT02' | translate }}"></p>
	<table>
		<thead>
			<tr>
				<th>{{ "CREATION.INDICS.CRYSTAL" | translate }}</th>
				<th>{{ "CREATION.INDICS.TYPE" | translate }}</th>
				<th>{{ "CREATION.INDICS.RANK" | translate }}</th>
				<th>{{ "CREATION.INDICS.EV" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="text" (change)="changeCrystalName(1, $event.target)" />
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalType(1, $event.target)"
						>
							<option value=""></option>
							<option value="ELE">Elémentaire</option>
							<option value="INV">Invocation</option>
							<option value="MEN">Mental</option>
							<option value="TRA">Transformation</option>
							<option value="SPA">Spatio-temporel</option>
							<option value="SPE">Spécial</option>
						</select>
					</div>
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalRank(1, $event.target)"
							>
							<option value=""></option>
							<option value="S">S</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
				</td>
				<td>{{ race === 6 ? crystal01.demiEV : crystal01.EV }}</td>
			</tr>
			<tr>
				<td>
					<input type="text" (change)="changeCrystalName(2, $event.target)" />
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalType(2, $event.target)"
						>
							<option value=""></option>
							<option value="ELE">Elémentaire</option>
							<option value="INV">Invocation</option>
							<option value="MEN">Mental</option>
							<option value="TRA">Transformation</option>
							<option value="SPA">Spatio-temporel</option>
							<option value="SPE">Spécial</option>
						</select>
					</div>
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalRank(2, $event.target)"
						>
							<option value=""></option>
							<option value="S">S</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
				</td>
				<td>{{ race === 6 ? crystal02.demiEV : crystal02.EV }}</td>
			</tr>
			<tr>
				<td>
					<input type="text" (change)="changeCrystalName(3, $event.target)" />
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalType(3, $event.target)"
						>
							<option value=""></option>
							<option value="ELE">Elémentaire</option>
							<option value="INV">Invocation</option>
							<option value="MEN">Mental</option>
							<option value="TRA">Transformation</option>
							<option value="SPA">Spatio-temporel</option>
							<option value="SPE">Spécial</option>
						</select>
					</div>
				</td>
				<td>
					<div class="dropdown">
						<select
							class="dropdown-select"
							(change)="changeCrystalRank(3, $event.target)"
						>
							<option value=""></option>
							<option value="S">S</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
				</td>
				<td>{{ race === 6 ? crystal03.demiEV : crystal03.EV }}</td>
			</tr>
		</tbody>
	</table>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE05" | translate }}</h2>
	<p innerHtml="{{ 'CREATION.EQUIPEMENT.TEXT' | translate }}"></p>
	<span
		class="help"
		(click)="toogleHelpEquip()"
		(mouseover)="displayHelpEquipHover = true"
		(mouseout)="displayHelpEquipHover = false"
		>?</span
	>
	<p
		*ngIf="displayHelpEquipClick || displayHelpEquipHover"
		class="popup"
		innerHtml="{{ 'CREATION.EQUIPEMENT.HELP' | translate }}"
	></p>
	<div>
		<span>{{ "CREATION.INDICS.ARMOR" | translate }} : </span>
		<div class="dropdown">
			<select class="dropdown-select" (change)="changeArmor($event.target)">
				<option *ngFor="let a of listArmors" value="{{ a.id }}">{{
					a.name
				}}</option>
			</select>
		</div>
		<p
			innerHtml="{{ 'CREATION.INDICS.DEFENCEBONUS' | translate }} : {{
				armor.defenceBonus
			}}<br>{{ 'CREATION.INDICS.MOBILITY' | translate }} : {{
				armor.mobility
			}}<br>{{ 'CREATION.INDICS.ACTIONSMALUS' | translate }} : {{
				armor.actionsMalus
			}}"
		></p>
	</div>
	<div>
		<span>{{ "CREATION.INDICS.WEAPON" | translate }} : </span>
		<div class="dropdown">
			<select class="dropdown-select" (change)="changeWeapon01($event.target)">
				<option value="0"></option>
				<option *ngFor="let w of listWeapons" value="{{ w.id }}">{{
					w.name
				}}</option>
			</select>
		</div>
		<p
			innerHtml="{{ 'CREATION.INDICS.ATTACKBONUS' | translate }} : {{
				weapon01.attackBonus || '-'
			}}<br>{{ 'CREATION.INDICS.DEFENCEBONUS' | translate }} : {{
				weapon01.attackBonus || '-'
			}}<br>{{ 'CREATION.INDICS.MOBILITY' | translate }} : {{
				weapon01.mobility || '-'
			}}<br>{{ 'CREATION.INDICS.ACTIONSMALUS' | translate }} : {{
				weapon01.actionsMalus || '-'
			}}<br>{{ 'CREATION.INDICS.CATEGORY' | translate }} : {{
				weapon01.category || '-'
			}}<br>{{ 'CREATION.INDICS.COUNT' | translate }} : {{
				weapon01.count || '-'
			}}<br>{{ 'CREATION.INDICS.COOLDOWN' | translate }} : {{
				weapon01.cooldown || '-'
			}}<br>{{ 'CREATION.INDICS.ZONE' | translate }} : {{
				weapon01.zone || '-'
			}}"
		></p>
	</div>
	<div>
		<span>Arme (optionnel) : </span>
		<div class="dropdown">
			<select class="dropdown-select" (change)="changeWeapon02($event.target)">
				<option value="0"></option>
				<option *ngFor="let weapon of listWeapons" value="{{ weapon.id }}">{{
					weapon.name
				}}</option>
			</select>
		</div>
		<p
			innerHtml="{{ 'CREATION.INDICS.ATTACKBONUS' | translate }} : {{
				weapon01.attackBonus || '-'
			}}<br>{{ 'CREATION.INDICS.DEFENCEBONUS' | translate }} : {{
				weapon01.attackBonus || '-'
			}}<br>{{ 'CREATION.INDICS.MOBILITY' | translate }} : {{
				weapon01.mobility || '-'
			}}<br>{{ 'CREATION.INDICS.ACTIONSMALUS' | translate }} : {{
				weapon01.actionsMalus || '-'
			}}<br>{{ 'CREATION.INDICS.CATEGORY' | translate }} : {{
				weapon01.category || '-'
			}}<br>{{ 'CREATION.INDICS.COUNT' | translate }} : {{
				weapon01.count || '-'
			}}<br>{{ 'CREATION.INDICS.COOLDOWN' | translate }} : {{
				weapon01.cooldown || '-'
			}}<br>{{ 'CREATION.INDICS.ZONE' | translate }} : {{
				weapon01.zone || '-'
			}}"
		></p>
	</div>
	<!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<h2>{{ "CREATION.MENU.TITLE06" | translate }}</h2>
	<p innerHtml="{{ 'CREATION.IDENTITY.TEXT' | translate }}"></p>
	<span>Nom du personnage</span>
	<input type="text" (change)="changeName($event.target)" />
	<span>Description du personnage</span>
	<textarea (change)="changeDescription($event.target)"></textarea>
	<span>Avatar du personnage</span>
	<label for="avatar" class="creation-avatar">
		<span *ngIf="!avatar">Importer une image<br>(ratio 1:1 | JPG, PNG | max 2Mo)</span>
		<img *ngIf="avatar" alt="" [src]="avatar"/>
	</label>
	<input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg" (change)="changeAvatar($event.target)" /><!--------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------------------------------->
	<button (click)="downloadPDF()">Télécharger la fiche de personnage</button>
</div>
